* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }
    
/* NAVIGATION */


.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: rgb(117, 189, 218);
  text-align: center;
  height: 64px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  color: rgb(255, 255, 255);
  font-size: xx-large;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
 
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* NAVIGATION */

/*HERO styling */

body {
    background-image: url(images/body.png);
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
    
}


.welcome-text{
    font-size: 24pt;
    position: relative;
    text-align: left;
    float: left;
    margin-top: 12%;
    margin-left: 15%;
}
.h2 {
    font-size: 11pt;
}


#portfolio {
    width: 200px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

/* Hero styling */

.footer {
  position: relative;
  bottom: auto;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
