* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }
    
  
/* NAVIGATION START */


.container {
	width: 80%;
	margin: 0 auto;
}

header {

  background: #00d4ff;
  text-align: center;
  height: 64px;
  font-family: sans-serif;
 
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 15px 0;
  color: rgb(255, 255, 255);
  font-size: xx-large;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
 
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
 .h3 {
   font-size: xx-large;
 }
/* NAVIGATION END */

/*HERO styling */

.hero {
    background-image: url(images/orange.jpg);
    object-fit: cover; /*magic*/
    font-family: sans-serif;
	font-weight: 800;  
    height: 800px;
    position: relative;
    text-align: left;
}


.welcome-text{
font-size: 22pt;
position: absolute;
text-align: left;
float: left;
margin-top: 12%;
margin-left: 15%;
color: rgb(66, 159, 217);
}



.projects {  
  background-color: #49b1e0; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* HERO STYLING END */

/*ABOUT STYLING START*/
.about {
    margin: 0%;
    display: flex;
    height: 400px;
    background-color: #ffffff;
border: #000;
justify-content: center;
}

.right {
  order: 2;
  position: relative;
  justify-content: flex-end;
align-items: center;
flex-direction: column;
    width: 45%;
    padding: right 40px;
    padding-left:70px;
    padding-right: 70px;
    height: 90px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 50px;
    line-height:2;
    text-decoration: solid;

}
.left {
  position: relative;
  justify-content: flex-start;
  align-items: center;

    width: 40%;
    padding: 20px;
    padding: left 30px;
    padding-right: 70px;
    height: 475px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    line-height:2;
    background-color: fde8e2;
}

  .profile {
    background-color: #49b1e0; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .numbered-heading {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;
  }

/* ABOUT STYLING END */



/* CONTACT STYLING START */

.contact{
  background-color: #EFF4F9;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

.container{
  
 
}

/* CONTACT STYLING END */


.footer {
  padding: 2rem 0;
  margin: 0;
box-sizing: border-box;
font-family: inherit;
  position: absolute;
  height: auto;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
